
.header-logo {
    background-color: whitesmoke;
    width: 100%;
}

.header-logo img {
    width: 100%;
}

.header-title {
    width: 100%;
    background-color: whitesmoke;
    text-align: center;
}

.global-memory-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    background-color: whitesmoke;
    height: 100vh;
}

.header-container {
    margin-top: 100px;
    display: flex;
    width: 80%;
    background-color: white;
}

.header-container div {
    text-align: center;
    width: 20%;
}

.memory-list {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.global-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
}