
.home-page-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-page-title {
    margin: 0;
    font-size: 5em;
}

.link-container {
    margin-top: 100px;
    text-decoration: none;
    background-color: green;
    border-radius: 15px;
    padding: 20px;
}

.link-text  {
    font-size: 4em;
    color: white;
    margin: 0;
}