
.memory-card-container {
    display: flex;
    width: 110%;
    margin-top: 10px;
    background-color: white;
}

.memory-card-container p{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 20%;
    margin: 10px;
}

.button-container {
    background-color: whitesmoke;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 10%;
    display: flex;
    flex-direction: column;
}

.update {
    margin-bottom: 10px;
}
