
.components-form {
    width: 100%;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.title-container {
    width: 100%;
}

.title-container h1 {
    text-align: center;
}

.form-container label {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.form-container input, .form-container textarea {
    border-radius: 5px;
    border: 0.5px solid lightgrey;
    margin-bottom: 5px;
}

.name {
    width: 80%;
}

.price, .capacity, .size {
    width: 50%;
}

.send-button {
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.send-button input {
    font-size: 1.2em;
    color: white;
    background-color: #4B90FE;
    width: 30%;
}